#rowButtons{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #A9A9A9;
}

#paymentButton{
    background-color: orange;
    position: relative;
    float: right;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

#shoppingButton{
    background-color: orange;
    position: relative;
    float: right;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

#price{
    position: relative;
    bottom: 0;
    position: fixed;
    margin-bottom: 25px;
}
